
html, body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

main {
  padding: 1em;
  max-width: 40em;
  text-align: left;
  display: inline-block;
}

.preview {
    display: inline-block;
    padding: 0.3em;
}

#error {
    width: 100%;
}

input {
    display: block;
    width: 95%;
}

.preview {
    max-width: 95%;
}
